.goods {
	padding: 70px 0;
	background-color: @red;
	min-width: 1024px;

	&__item {
		text-align: center;
		min-height: 455px;
	}

	&__title {
		font-size: 30px;
		line-height: 1.2em;
		color: #fff;
		margin-top: .4em;

		& span {
			font-size: 18px;
			font-weight: normal;
			display: block;
		}
	}

	&__img {
		width: 100%;
		margin: 0 auto;
	}
}

