.header {
	padding: 40px 0 40px;

	&__contacts {
		text-align: right;
	}

	&__phone, &__btn {
		display: inline-block;
		vertical-align: middle;
	}

	&__phone{
		color: @green;
		font-size: 30px;
		line-height: 50px;
		text-decoration: none;
		margin-right: 30px;

		&:hover, &:visited, &:active, &:focus {
			text-decoration: none;
			color: @green;
			cursor: default;
			outline: none;
		}
	}

	&__btn {
		position: relative;
		color: #fff;
		background-color: @red;
		padding: 0 50px;
		line-height: 42px;
		border-radius: 21px;
		transition: all .6s;
		top: 0;

		&:hover, &:visited, &:active, &:focus {
			text-decoration: none;
			color: #fff;
			outline: none;
		}

		&:hover {
			background-color: darken(@red, 10%);
			box-shadow: 0 3px 0 0 darken(@red, 30%);
			transition: all .2s;
		}

		&:active {
			top: 3px;
			background-color: darken(@red, 15%);
			box-shadow: 0 -3px 0 0 darken(@red, 30%);
			transition: all .2s;
		}
	}


}