<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Ruswood Trading — Оптовые поставки деревоматериалов по России, СНГ, Европе и Азии.

	link(href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
	link(rel="stylesheet" href="css/style.min.css")

	// FAVICON	
	link(rel="shortcut icon" href="img/favicon/favicon.ico")
	link(rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png")
	link(rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png")
	link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png")
	link(rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png")
	link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png")
	link(rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png")
	link(rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png")
	link(rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png")
	link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png")
	link(rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png")
	link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png")
	link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
	link(rel="manifest" href="img/favicon//manifest.json")

	meta(name="msapplication-TileColor" content="#ffffff")
	meta(name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png")
	meta(name="theme-color" content="#ffffff")

	

body

	header.header
		.container-fluid
			.row
				.col-xs-12
					.header__language.header__language--en
						a(href="/en.html") EN
				.col-xs-5.header__logo
					img(src="img/logo.png" alt="Ruswood Trading logo")
				.col-xs-7.header__contacts
					a.header__phone(href="tel:+78125406492") +7 (812) 540-64-92
					a.header__btn(href="mailto:info@ruswoodtrading.ru") Написать нам


	main

		.container-fluid
			.row
				.col-xs-12.heading.padding-left
					h1.h1 Оптовые поставки
					h2.h2 Деревоматериалы по России, <br>СНГ, Европе и Азии.

		section.goods
			.container-fluid
				.row
					.col-xs-4
						.goods__item.wow.fadeInDown
							img.goods__img.img-responsive(src="img/goods--fanera.png", alt="Фанера")
							h3.goods__title Фанера 
								span ФК, ФСФ, ФЛ
					.col-xs-4
						.goods__item.wow.fadeInDown(data-wow-delay=".2s")
							img.goods__img.img-responsive(src="img/goods--dsp.png", alt="ДСтП")
							h3.goods__title ДСтП
					.col-xs-4
						.goods__item.wow.fadeInDown(data-wow-delay=".4s")
							img.goods__img.img-responsive(src="img/goods--lvl.png", alt="ЛВЛ брус")
							h3.goods__title ЛВЛ-брус
					.col-xs-4
						.goods__item.wow.fadeInDown
							img.goods__img.img-responsive(src="img/goods--doska.png", alt="Доска обрезная")
							h3.goods__title Доска <br>обрезная
					.col-xs-4
						.goods__item.wow.fadeInDown(data-wow-delay=".2s")
							img.goods__img.img-responsive(src="img/goods--pellets.png", alt="Топливные пеллеты")
							h3.goods__title Топливные <br>пеллеты
					.col-xs-4
						.goods__item.wow.fadeInDown(data-wow-delay=".4s")
							img.goods__img.img-responsive(src="img/goods--brickets.png", alt="Топливные брикеты")
							h3.goods__title Топливные <br>брикеты

	footer.footer
		.container-fluid
			.row
				.col-xs-10.padding-left
					p.footer__text Ответим на все интересующие вас <br>вопросы по телефонам: 
					a.footer__phone(href="tel:+78125406492") +7 (812) 540-64-92
					a.footer__phone(href="tel:+79650632309") +7 921 942-83-80 
							//- span (Вердиев Вугар)
					p.footer__text или электронной почте:
					a.footer__mail(href="mailto:wn78@mail.ru") info@ruswoodtrading.ru

				.col-xs-6
					p.footer__copyright &#9400; Ruswood Trading, 2015–2016
				.col-xs-6
					p.footer__language
						a(href="/en.html") In English


	
	script(src="js/main.min.js")
	script.
		new WOW().init();
